:root {
       --accent: #EA9180;
   --accentHover: #DE8A86;
    --dark: #304659;
    --dark80: rgba(48,60,89,.8);
    --dark60: rgba(48,60,89,.6);
    --light: #F5F9FC;
    --transition: all 0.3s ease 0s;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html, body{
    height: 100%;
    overflow: auto;
}
body{
    background-image: linear-gradient(rgba(48, 60, 89, 0.8), rgba(48, 60, 89, 0.8)) ,url("/bg.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
